@for $i from 1 through 12 {
  .c-instance {
    
    // :nth-of-type(1-12) 
    &:nth-of-type(#{$i}) {
      
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (.07s);
    }
  }
}

@for $i from 1 through 12 {
  .c-card {
    
    // :nth-of-type(1-12) 
    &:nth-of-type(#{$i}) {
      
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (.07s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
/*    transform: scale(0);*/
  }
  
  100% {
    opacity: 1;
/*    transform: scale(1);*/
  }
}

$colors-list: #E43F6F #008DD5 #373F51 #70F8BA #EF3054 #23CE6B;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .c-card-list--3 {
    	.c-card:nth-of-type(#{$i}) {
    		.c-card__image::before, .c-card__content::before, .c-btn { 
		        background-color: $current-color;
		    }
        .c-card__mob-image {
          border-color: $current-color;
        }
	    }
    }
}
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .c-card-list--4 {
      .c-card:nth-of-type(#{$i}) {
        .c-card__title::before, .c-card__title::selection, .c-card__cta::after, .c-card__cta::selection, .c-card__info p::selection, .c-card__info p::after { 
            background-color: $current-color;
        }
        .c-card__mob-image {
          border-color: $current-color;
        }
      }
    }
}